/* Define the global or root variables */
:root {
    --primaryColor: #213555;
    --backgroundColor: #f5efe7;
    --primaryAccentColor: #4f709c;
    --secondaryColor: #d8c4b6;
    --whiteColor: white;
    --blackColor: #222222;
    --primaryFont: 'Open Sans', sans-serif;
    --navbarHeight: 3rem;
    --cursiveFont: 'Pacifico', cursive;
}

/* Main CSS */
body {
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    font-family: var(--primaryFont);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

a{
    text-decoration: none; 
    color: var(--primaryColor);
}

a:hover{
    color: var(--primaryAccentColor);
}

.navigation {
    background-color: var(--whiteColor);
    height: var(--navbarHeight);
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0px 3px 4px grey);
}


.logo {
    display: flex;
    padding-left: 20px;
    width: 12rem;
    align-items: center;
}

.logoImage {
    padding: 8px;
    height: 2rem;
}

.contactImage {
    padding: 8px;
    height: 2rem;
}

.menuItems {
    flex-grow: 2;
}

.menuItem {
    margin-left: 20px;
    
}

.banner{
    display: flex;
    height: 450px;
    background: linear-gradient(45deg,var(--secondaryColor),var(--primaryAccentColor));
    filter: drop-shadow(0px 3px 4px grey);  /*x,y,radius,color*/
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.bannerLeft{
    width: 45%
}



.bannerImage{
    height: 210px;
    border-radius: 100%;
}

.greeting{
    font-family: var(--cursiveFont);
    font-size: 1.28rem;
}
.title{
    font-size: 2.1rem;
    color: white;
}

.titleSpan{
    display: inline-block;
    background-color: var(--primaryColor);
    padding: 0.25rem;
    margin: 2px 0px;
}

.description{
    margin: 30px 0px;
    line-height: 1.5rem;
}

.showCVButton{
    background: linear-gradient(white, rgb(205,205,205), rgb(215,215,215));
    padding: 10px 15px;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 3px grey);

}

.showCVButton:hover{
    background: linear-gradient(white, rgb(215,215,215));
}
